html {
    height: 100%;
}

body{
    background-image: linear-gradient(to right, rgb(0, 238, 255), rgb(223, 118, 118), rgb(224, 224, 94));     
    color: whitesmoke;
    font-size: 1.125rem;
}

.container {
    width:1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
        
    display: flex; 
    justify-content: space-between;   
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.cards {
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card1 {
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    width: 30%;
}

.card2 {
    background-image: url(images/image-background-card2.jpg);
    background-size: cover;
    width: 30%;
}

.card3 {
    background-image: url(images/image-background-card3.jpg);
    background-size: cover;
    width: 30%;
}

.herobox1 {
    flex: 2;   
    padding-right: 100px;
}

.herobox2 { 
    flex: 1;           
}

nav a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 45px;
    color: rgb(18, 56, 56);
    font-family: 'WindSong', cursive;
    margin-bottom: 0.85rem;

}

h2 {
    font-size: 2rem;
    margin-top: 20px;
}

p {
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

.cards p {
    font-size: 0.85rem;
    line-height: 1.25rem;
    margin: 10px 30px 20px 30px;
}
